/* ESTILO DE TODA LA PAGINA */
*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
}

/* ESTILO DE TODA LA PAGINA TERMINA */

/* ESTILO DEL NAV MOBILE COMIENZA */
nav{
    background:#191919;
}

.contenedor-nav-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.contenedor-nav-mobile img{
    flex-wrap: wrap; 
}

.logo-mobile{
    margin-top: 21px;
    margin-left: 29px;
    margin-bottom: 21px;
}

.list-mobile{
   margin-right: 33px;
   cursor: pointer;
   transition: ease-in-out 0.3s;
}

.list-mobile:hover{
    transform: scale(1.2);
}

nav .ul-mobile{
    background:black;
    display: none;
    text-align: center;
    
}

nav .ul-mobile li{
    padding: 10px;
    cursor: pointer;
    color: white;
}

nav .ul-mobile li a{
   cursor: pointer;
}

.container-nav-tabletydesktop{
    display: none;
}

/* TERMINA ESTILO DEL NAV MOBILE */



/* CSS DEL SLIDER MOBILE COMIENZA */

.slider-desk{
    display: none;
}
/* CSS DEL SLIDER MOBILE TERMINA */





@media (min-width:502px){
    
    
}





@media (min-width:544px){
    
    /* COMIENZA ESTILO DEL NAV TABLET Y DESKTOP */
    
     .container-nav-tabletydesktop .content-logo-text{
        display: flex;
        align-items: center;
    }
    
    .container-nav-tabletydesktop .content-logo-text p{
        color: white;
        font-size: 11px;
    }
    
    .ul-tabletydesktop li a{
        font-size: 11px;
    }
    
    .container-nav-mobile{
        display: none;
    }
    .container-nav-tabletydesktop{
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .logo-desktop{
        width: 100px;
        height: 97px;
        margin-top: 21px;
        margin-bottom: 21px;
        margin-left: 29px;
        
    }
    
    .ul-tabletydesktop{
        display: flex;
    }
    
    .ul-tabletydesktop li{
        list-style: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        margin: 0px 5px;
    }
    
    .ul-tabletydesktop li a{
        transition: ease-in-out 0.1s;
    }
    
    .ul-tabletydesktop li a:hover{
        color: #FFCB00;
    }
    
    .ul-tabletydesktop li:nth-child(4){
        border: 1px solid;
        color:white;
        transition: ease-in-out 0.3s;
        padding: 0px 5px;
    }
    .ul-tabletydesktop li:nth-child(4):hover{
        color:#293A4A;
        background: white;
    }
    
    /*TERMINA EL ESTILO NAV */
   
}

@media (min-width:660px){
     /* COMIENZA ESTILO DEL NAV TABLET Y DESKTOP */
    .ul-tabletydesktop li a{
        font-size: 14px;
    }
    
    .container-nav-tabletydesktop .content-logo-text p{
        font-size: 14px;
    }
    
     /*TERMINA EL ESTILO NAV */
}

@media (min-width:768px){
    
    /*COMIENZA EL NAV*/
    
    .ul-tabletydesktop li{
        margin: 0 10px;
    }
    
    /* TERMINA EL NAV*/
      
}

@media (min-width:900px){
    
    /* COMIENZA EL NAV*/
    .logo-desktop{
        width: 100px;
        height: auto;
        margin-left: 0;
    }
    
    .ul-tabletydesktop li{
        margin: 0 20px;
    }
    
     .ul-tabletydesktop li a{
        font-size: 18px;
    }
    
    .container-nav-tabletydesktop .content-logo-text p{
        font-size: 18px;
    }
    
    /* TERMINA EL NAV*/
       
    
}

@media (min-width:1024px){
    
    
    /* COMIENZA EL NAV */
    
    .container-nav-tabletydesktop{
        justify-content:space-between;
    }
    
    .container-nav-tabletydesktop .content-logo-text{
        display: flex;
        align-items: center;
    }
    
    .container-nav-tabletydesktop .content-logo-text p{
        color: white;
    }
    
    .logo-desktop{
        width: 100px;
        height: 97px;
        margin-left: 97px;
    }
    
    .ul-tabletydesktop{
        margin-right: 85px;
    }
    
    .ul-tabletydesktop li{
        font-size: 18px;
    }
    
   /* TERMINA EL NAV */      
    
}


@media (min-width:1440px){
    
}

@media (min-width:1920px){
    
   
}


    
