/* CSS DEL SLIDER COMIENZA DESK */

@media (min-width:502px){
    
    .owl-carousel{
        display: none !important;
    } 
   
/* COMIENZA SLIDER DESK */

.slider-desk{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.slider-desk-item{
    display: flex;
    width:100%;
    height:auto;
    
    
}

.slider-desk-item img{
    width: 100%;
}

.slider-desk input{
    display: none;    
}
    
/*ANIMACION COMIENZA */

#radio1:checked ~ .slider-desk-item{
    margin-left: 0;
    transition: ease-in-out 1s; 
}

#radio2:checked ~ .slider-desk-item{
    margin-left: -100%;
    transition: ease-in-out 1s; 
}
    
#radio3:checked ~ .slider-desk-item{
    margin-left: -200%;
    transition: ease-in-out 1s; 
}

/*ANIMACION TERMINA */
    
/*BTN COMIENZA CSS */
    .slider-desk .content-btn{
        display: flex;
        justify-content: flex-end;
    }
    .slider-desk .content-btn label{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 20px;
        background:#FFCB00;
        margin-top: -28px;
    }
    .slider-desk .content-btn label:hover{
        background: white;
    }
    
    #radio1:checked ~ .content-btn label:nth-child(1){
        background: white;
    }
    #radio2:checked ~ .content-btn label:nth-child(2){
        background: white;
    }
    #radio3:checked ~ .content-btn label:nth-child(3){
        background: white;
    }
/*BTN TERMINA CSS */
    /* FLECHAS CSS COMIENZA */
    .flecha{
        position: absolute;
        top:50%;
        cursor: pointer;
    }
    
    .dere{
        right: 0;
    }
    /* FLECHAS CSS TERMINA */     
}
/* CSS DEL SLIDER TERMINA DESK */